



body {
    background-color: gray;
}

.mainBox {
    display: flexbox;
    min-height: 95vh;
    max-height: 100vh;
    flex-direction: column;
    overflow-y: auto;
    width: 100vw;
}

.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}


img {
    opacity: 60%;
    display: block;
    width: 100vw;
    height: auto;
}

.overlayText {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 3rem;
}

a {
    margin: 3px;
    padding: 3px;
    color: white;
    text-decoration: none;
}

.headBox {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    max-height: 20;
    color: white;
    background-color: navy;
}

.sectionBox {
    min-height: 75vh;
    background-color: blue;
    position: relative;
    display: inline-block;
}

.footBox {
    min-height: 13vh;
    max-height: 19vh;
    background-color: orange;
}

@media screen and (max-width: 768px) {
    .overlayText {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 10px 20px;
        text-align: center;
        font-size: 1rem;
    }
}